<h1>Editing shopcat</h1>

<% form_for(@shopcat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shopcat %> |
<%= link_to 'Back', shopcats_path %>