<h1>Listing shopcats</h1>

<table>
  <tr>
  </tr>

<% @shopcats.each do |shopcat| %>
  <tr>
    <td><%= link_to 'Show', shopcat %></td>
    <td><%= link_to 'Edit', edit_shopcat_path(shopcat) %></td>
    <td><%= link_to 'Destroy', shopcat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shopcat', new_shopcat_path %>