<div class="box-one">
	<img src="/images/comment_top.png" alt="" />
			<div class="inside">
				<p><span class="stars"><%= display_stars(comment.stars) %></span><br />
					<%= comment.content %></p>	
			</div>
	<img src="/images/comment_bottom.png" alt="" />
</div>
